<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- modified -->
    <title>Shopperss &mdash; Colorlib e-Commerce Template</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Mukta:300,400,700"> 
    <link rel="stylesheet" href="fonts/icomoon/style.css">

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/magnific-popup.css">
    <link rel="stylesheet" href="css/jquery-ui.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">

 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <link rel="stylesheet" href="css/aos.css">

    <link rel="stylesheet" href="css/style.css">
    
  </head>
  <body>
  
  <div class="site-wrap">
    <header class="site-navbar" role="banner">
      <div class="site-navbar-top">
        <div class="container">
          <div class="row align-items-center">

            <div class="col-6 col-md-4 order-2 order-md-1 site-search-icon text-left">
              <form method="post" class="site-block-top-search">

                <input type="text" class="form-control border-0" name="search" placeholder="Search">
                <input type="submit" value="Search">
              </form>
              
            </div>

            <div class="col-12 mb-3 mb-md-0 col-md-4 order-1 order-md-2 text-center">
              <div class="site-logo">
                <a href="/home" class="js-logo-clone">Shopperss</a>
              </div>
            </div>

            <div class="col-6 col-md-4 order-3 order-md-3 text-right">
              <div class="site-top-icons">
                <ul>
                  <li><a href="/profile"><span class="icon icon-person"></span></a></li>
                  <li><a href="/wishlist"><span class="icon icon-heart-o"></span></a></li>
                  <li>
                    <a href="/cart" class="site-cart">
                      <span class="icon icon-shopping_cart"></span>
                      <span class="count"></span>
                    </a>
                  </li> 
                  <li class="d-inline-block d-md-none ml-md-0"><a href="#" class="site-menu-toggle js-menu-toggle"><span class="icon-menu"></span></a></li>
                </ul>
              </div> 
            </div>

          </div>
        </div>
      </div> 
      <nav class="site-navigation text-right text-md-center" role="navigation">
        <div class="container">
          <ul class="site-menu js-clone-nav d-none d-md-block">
            <li><a href="/home">Home</a></li>
		  <li><a href="/about">About</a></li>  
      <li><a href="/shop">Shop</a></li>
			<li><a href="/showOrder">Orders</a></li>
      <li><a href="/contact">Contact</a></li>
			<li><a href="/wishlist">Whishlist</a></li>
          </ul>
        </div>
      </nav>
    </header>

    <div class="bg-light py-3">
      <div class="container">
        <div class="row">
          <div class="col-md-12 mb-0"><a href="home">Home</a> <span class="mx-2 mb-0">/</span> <strong class="text-black">Shop</strong></div>
        </div>
      </div>
    </div>

   
    

    <div class="row mb-5">
      <div class="col-md-9 order-md-2">
        <div class="row">
          <div class="col-md-12 mb-5">
            <div class="float-md-left mb-4"><h2 class="text-black h5">Shop All</h2></div>
            <div class="d-flex">
              <div class="col-md-3 order-md-1 mb-5 mb-md-0">
                <div class="border p-4 rounded mb-4">
                  <h3 class="mb-3 h6 text-uppercase text-black d-block">Categories</h3>
                  <ul>
                    
                    <li><a href="/category?category=Men">Men</a></li>
                    <li><a href="/category?category=Women">Women</a></li>
                    <li><a href="/category?category=Children">Children</a></li>
                    <i class="bi bi-person"></i>
                  </ul>
                </div>
                <div class="border p-4 rounded mb-4">
                  <h3 class="mb-3 h6 text-uppercase text-black d-block">filter</h3>
                  <ul>
                    <li><a href="/filter?value1=0&value2=1500">0 to 1500</a></li>
                    <li><a href="/filter?value1=1500&value2=5000">1500 to 5000</a></li>
                    <i class="bi bi-person"></i>
                  </ul>
                </div>
                <div class="border p-4 rounded mb-4">
                  <h3 class="mb-3 h6 text-uppercase text-black d-block">sort</h3>
                  <ul>
                    <li><a href="/sort?sort=1">price low to high</a></li>
                    <li><a href="/sort?sort=-1">price high to low</a></li>
                    <i class="bi bi-person"></i>
                  </ul>
                </div>
              </div>
              <div class="col-md-9 order-md-2">
                <div class="row mb-5">
                  <% for(let i=0;i<dataa.length;i++){%>
                  <div class="col-sm-6 col-lg-4 mb-4" data-aos="fade-up">
                    <div class="block-4 text-center border">
                      <figure class="block-4-image">
                        <a href="/shop-single?id=<%= dataa[i].id %>"><img src="img/<%=dataa[i].image[0]%>" alt="Image placeholder" class="img-fluid"></a>
                      </figure>
                      <div class="block-4-text p-4">
                        <h3><a href="/shop-single"><%= dataa[i].name %></a></h3>
                        <br>
                        <p class="text-primary font-weight-bold">₹<%= dataa[i].price %></p>
                        <button class="btn btn-success" onclick="ToCart('<%=dataa[i].id%>')" >Add to Cart</button>
                      </div>
                      <button onclick="addToWishlist('<%=dataa[i]._id%>')" style="width: 50px;height: 50px; margin-left: 90px;border-radius: 20px;border:none;background-color: #ffffff;background-color: #dbcc8f;">🖤</button>
                    </div>
                  </div>
                  <%} %>
                </div>
                <div class="row">




                <div class="col-md-12 text-center">
                  <div class="block-27">
                    <ul class="pagination">
                      <% for(let i=1; i<=size; i++) { %>
                        <span >
                          <a class="page-link" href="/pagination?page=<%=i%>&id=page-<%=i%>-link ">
                            <span id="page-<%=i%>-link" class="page-link " style="color: black;" ><%=i%></span>
                          </a>
                        </span>
                      <% } %>
                    </ul>
                  </div>
<input type="hidden" id="hltId" value="<%=tagId%>" >
                  
                  </div>
<script>
  // Get the <span> element by its id or any other means
    const ids = document.getElementById("hltId").value
const spanElement = document.getElementById(ids);

// Set the background color using the style property
spanElement.style.backgroundColor = '#7971ea';

</script>


  <footer class="site-footer border-top">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 mb-5 mb-lg-0">
          <div class="row">
            <div class="col-md-12">
              <h3 class="footer-heading mb-4">Navigations</h3>
            </div>
            
            
            
          </div>
        </div>
        <div class="col-md-6 col-lg-3 mb-4 mb-lg-0">
          <h3 class="footer-heading mb-4">Promo</h3>
          <a href="#" class="block-6">
            <img src="images/hero_1.jpg" alt="Image placeholder" class="img-fluid rounded mb-4">
            <h3 class="font-weight-light  mb-0">Finding Your Perfect Shoes</h3>
            <p>Promo from  nuary 15 &mdash; 25, 2019</p>
          </a>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="block-5 mb-5">
            <h3 class="footer-heading mb-4">Contact Info</h3>
            <ul class="list-unstyled">
              <li class="address">203 Fake St. Mountain View, San Francisco, California, USA</li>
              <li class="phone"><a href="tel://23923929210">+2 392 3929 210</a></li>
              <li class="email">emailaddress@domain.com</li>
            </ul>
          </div>

          <div class="block-7">
            <form action="#" method="post">
              <label for="email_subscribe" class="footer-heading">Subscribe</label>
              <div class="form-group">
                <input type="text" class="form-control py-4" id="email_subscribe" placeholder="Email">
                <input type="submit" class="btn btn-sm btn-primary" value="Send">
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="row pt-5 mt-5 text-center">
        <div class="col-md-12">
          <p>
          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          Copyright &copy;<script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank" class="text-primary">Colorlib</a>
          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          </p>
        </div>
        
      </div>
    </div>
  </footer>

  <script>
   
    document.getElementById("page-1-link").classList.add("link activ")
  

		function addToWishlist(id){
			$.ajax({
				url:"/addToWishlist",
				method:"post",
				data:{
					query:id
				},
				success:(response)=>{
					if(response.success){
						Swal.fire({
							position: 'center',
							icon: 'success',
							title: 'Product added to wishlist',
							showConfirmButton: false,
							timer: 1500
						})
					}else if(response.check){
						Swal.fire({
							icon: 'error',
							title: 'Oops...',
							text: 'Already added to wishlist!!'
						})
					}
				}
			})
		}
	</script>

  <script>

const id = document.getElementById('hlt').value
    document.getElementById(id).classList.add('active')

    function ToCart(id){
       
             $.ajax({
                url:'/hometoCart',
                method:'post',
                data:{
            product_id:id
                },
                success:(response)=>{
                       if(response.success){         
              Swal.fire({
      position: 'center',
      icon: 'success',
      title: ' Product Added To Cart',
      showConfirmButton: false,
      timer: 1500
    })
                       }
                   }
       
             })
          }
    
    
        </script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script src="sweetalert2.all.min.js"></script>
        <script src="sweetalert2.min.js"></script>
    <link rel="stylesheet" href="sweetalert2.min.css">


  <script>
   
  </script>
    
  </body>
  <style>
    .site-block-top-search {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 400px;
  margin: 0 auto;
}

.site-block-top-search .icon {
  margin-right: 10px;
}

.site-block-top-search input[type="text"],
.site-block-top-search input[type="submit"] {
  width: 100%;
  padding: 10px;
  border: none;
}

/* Responsive styles */
@media (max-width: 767px) {
  .site-block-top-search {
    max-width: 100%;
  }
}

  </style>
  <script src="js/jquery-3.3.1.min.js"></script>
  <script src="js/jquery-ui.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/jquery.magnific-popup.min.js"></script>
  <script src="js/aos.js"></script>

  <script src="js/main.js"></script>
    
</html>